html {
    overflow-y:scroll;
}

body {
    margin: 0%;
    background-image: url('bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100%, 100%;
}

a {
    color: white;
}

.main {
    padding: 0px;
    padding-top: 200px;
    color: white;
    text-align: center;
}


.header {
    
    background: rgb(72, 72, 72);
    color: #f1f1f1;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
}

button{
    font-size: 20px;
}

.btnHeader {
    width: 80%;
    position: absolute;
    left: 20%;
    height: 100px;
}

.btnHeader div {
    background-color: rgb(72, 72, 72);
    border: 0px;
    color: white; 
    padding: 0px 0px; 
    cursor: pointer; 
    float: right; 
    width: 20%;
    height: 98px;
    z-index: 4;

    transition: background-color 1s, height 1s;
  }

.hidden{
    z-index: 3;
}


.unhidden{
    position: relative;
    top: -1px;
    z-index: 5;
}

.btnHeader div button {
    
    background-color: rgb(72, 72, 72);
    border: 0px;
    color: white; 
    padding: 0px 0px; 
    cursor: pointer; 
    float: right; 
    width: 100%;
    height: 100px;

    border-bottom: none; 
    transition: border 150ms, top 1s;
}


#btnDiv4 {
    width: 100px;
    background-color: rgb(72, 72, 72);
}

#btnDiv4 .unhidden:hover{
    background-color: #727272;
}



.btnHeader div button:active {
    
    background-color: rgb(209, 209, 209);
    color: rgb(41, 41, 41); 
}


  
.btnHeader div:not(:last-child) {
    border-left: none; 
}

.btnHeader:after {
    content: "";
    clear: both;
    display: table;
}

.btnHeader button:hover {
    background-color: #727272;
}

#btnDiv1 .hidden{
    position: relative;
    top: -100px;
}
#btnDiv1:hover {
    height: 100px;
    
}

#btnDiv2 .hidden{
    position: relative;
    top: -400px;
}
#btnDiv2:hover {
    height: 100px;
    
}

#btnDiv3 .hidden{
    position: relative;
    top: -100px;
}
#btnDiv3:hover {
    height: 100px;
    
}

#btnDiv4 .hidden{
    position: relative;
    top: -100px;
}

#btnDiv4 .unhidden{
    background: url('fb.png');
    background-size: 50%, 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#btnDiv4:hover {
    height: 98px;
}

.btnHeader div:hover .hidden {
    top: -1px !important;
}

/*------------------------------------------------------------------------*/

#contactBar {
    background-image: url('contactBarTexture.jpg');
    background-size: 45px;
    color: #f1f1f1;
    position: fixed;
    top: 100px;
    width: 100%;
    height: 45px;
    vertical-align:  middle;
    z-index: 1;
}
#contactBar div{
    z-index: 0;
}

#contactBarAdress {
    float: left;
    width: 33%;
    height: 45px;
    text-align: center;
    transform: translate(0%, 25%);
}

#contactBarPhone {
    float: left;
    width: 33%;
    height: 45px;
    transform: translate(0%, 25%);
    text-align: center;
}

#contactBarMail {
    float: left;
    width: 33%;
    height: 45px;
    transform: translate(0%, 25%);
    text-align: center;
}

/*-------------------------------------------------------------------*/

.logo {
    float: left;
    background-color: rgb(72, 72, 72);
    border: 0px solid rgb(97, 97, 97);
    color: white; 
    padding: 0px 0px; 
    cursor: pointer; 
    height: 100px;
    width: 200px;

    transition: background-color 1s, height 1s;
}

.logo button {
    border: 0px;
    height: 100px;
    width: 200px;
    background: url('favico.png');
    background-size: 50%, 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.logo button:hover {
    background-color: #727272;
}

/*--------------------------------------------------------------------*/



.contact {
    float: left;
    line-height: 100px;
    font-size: 30px;
    height: 500px;
    width: 45%;
}

.contact img{
    padding-top: 50px;
    width: 80px;
    height: 80px;
}

.map {
    float: right;
    font-size: 30px;
    height: 500px;
    width: 45%;
}